.dropdown-holder {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}
.ant-dropdown-link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 33.3%;
  margin: 0 -1px 0 0;
  height: 72px;
  border: 1px solid #2a2a2a;
  background-color: #3f3f3f;
  font-size: 15px;
  line-height: 1em;
  color: #b7b7b7;
  box-sizing: border-box;
  padding: 15px 0 0 36px;
  &:before {
    content:'';
    position: absolute;
    top: 50%;
    right: 25px;
    width: 0;
    height: 0;
    margin: -3px 0 0 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid#262626;;
  }

  &:hover {
    opacity: 0.8;
    color: #b7b7b7;
  }
  .title {
    display: block;
    font-size: 11px;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: #646464;
  }
}
.ant-dropdown-menu {
  margin: -5px 0 0 0;
  padding: 30px 0 47px 0;
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.18);
  border-radius: 0 0 6px 6px;
  background-color: #6f6f6f;
  .ant-dropdown-menu-item {
    font-size: 15px;
    color: #1b1b1b;
    padding: 0 36px 0 36px;
    &:hover {
      background: none;
      a {
        color: #fff;
      }
    }
  }
}