.form-wrapper {
  padding: 105px 0px 0 0px;
  .ant-row {
    max-width: 411px;
    margin: 0 auto 20px;
  }
  .ant-form-item-label {
    margin: 0 0 4px;
  }
  .logo-holder {
    position: absolute;
    top: -36px;
    left: 0px;
    right: 0;
    text-align: center;
  }
  .ant-form-item-required  {
    text-transform: uppercase;
    color: #868686;
    font-size: 15px;
    &:before {
      display: none;
    } 
  }
  .ant-form-explain {
    position: absolute;
    padding: 4px 0 0 0;
  }
  .description {
    text-align: center;
    padding: 64px 0 0 0;
    line-height: normal;
    margin: 0 0 22px;
    font-size: 14px;
    letter-spacing: 0.025em;
    span.copy {
      color: #646464;
      letter-spacing: 0.01em;
      a {
        color: #646464;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    span {
      color: #9d9d9d;
      display: block;
      margin: 0 0 10px;
      a {
        color: #ff7a58;
      }
    }
  }
  .login-form-button {
    max-width: 234px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    height: 45px;
    &:hover,
    &:focus {
      background: #d33e18;
      opacity: 0.8;
    }
  }
  .submit-holder {
    padding: 20px 0 0 0;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color:#434343;
    border-color: #434343;
  }
  .ant-checkbox-inner::after {
    border:none;
    transform: none;
    top: 0;
    left: 0;
  }
  .ant-checkbox-checked .ant-checkbox-inner::after {
    content:'*';
    color: #ff7a58;
    font-size: 30px;
    left: 50%;
    margin: 2px 0 0 -6px;
  }
  
}
.login-form {
  position: relative;
  max-width: 753px;
  margin: 0px auto 0 auto;
  background: #252525;
  padding: 83px 30px 20px 30px;
  input.ant-input {
    height: 45px;
    padding: 0 23px 0 23px;
    font-size: 15px;
    letter-spacing: 0.21px;
    background-color: #d8d8d8!important;
    border: 1px solid #979797;
  }
  .row-checkbox {
    padding: 3px 10px 0 10px;
  }
  .login-form-forgot {
    text-transform: uppercase;
    font-size: 11px;
    color: #868686;
  }
  .ant-checkbox-wrapper + span,
  .ant-checkbox + span {
    text-transform: uppercase;
    font-size: 11px;
    color: #868686;
    padding: 0 0 0 16px;
   }
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  background: #d33e18;
  color: #fff;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border: none;
}