body {
  font-family: Helvetica, Arial,  sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2D2D2D;
  color: #fff;
  font-size: 15px;
  line-height: 17px;
}
.wrapper {
  overflow: hidden;
}
.center {
  max-width: 1232px;
  min-width: 728px;
  padding: 0 20px;
  margin: 0 auto;
}
.main {
  padding: 0 0 130px;
}