.header-table {
  margin: 0 0 45px;
  padding: 0 0 0 34px;
  .date {
    color: #6f6f6f;  
    font-size: 13px;
    display: block;
    line-height: 15px;
    font-weight: 300;
    margin: 0 0 23px;
  }
  h2 {
    color: #d8d8d8;
    font-family: Helvetica;
    font-size: 26px;
    line-height: 28px;
    span {
      color: #ec9931;
    }
  }
  .btn-add {
    background: none;
    border: none;
    color: #d8d8d8;
    font-family: Helvetica;
    font-size: 15px;
    padding: 0 20px;
    white-space: nowrap;
    font-weight: 300;
    margin: -8px 0 0 0;
    i {
      width: 26px;
      height: 26px;
      margin: 0 10px 0 0;
      border-radius: 50%;
      font-size: 11px;
      font-weight: 700;
      text-align: center;
      line-height: 24px;
      border: 2px solid #d33e18;
    }
    &:hover {
      opacity: 0.8;;
    }
  }
  .ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 15px;
  }
}

@media (max-width: 992px) {
  .header-table .btn-add {
    padding: 0;
  }
}