.header-center {
  max-width: 1500px;
  min-width: 728px;
  margin: 0 auto;
  padding: 0 20px;

}
.header {
  background: #252525;
  margin: 0 0 37px;
  .logo-holder {
    width: 60px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .row-top {
    padding: 10px 10px;
  }
  .row-bottom {
    position: relative;
    justify-content: flex-end;
    background-color: #383838;
    padding: 0;
    display: flex;
    .row-bottom-holder {
      flex: 0 0 80%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.header-list {
  margin: 0 0 0 52px;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  li {
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 41px 0 0;
    &:first-child {
      margin: 0 34px 0 0;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      margin: 0 18px 0 0;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      margin: 0 18px 0 0;
    }
    a {
        display: block;
        color: #6f6f6f;
      }
    }
}
@media (max-width: 1240px){
  .header {
    .row-bottom {
      justify-content: flex-start;
      .row-bottom-holder {
        flex: 1 1 100%;
      }
    }
  }

}