.search-holder {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  border: 1px solid #2a2a2a;
  border-left: none;
  border-right: none;
  input {
    height: 70px;
    width: 100%;
    background-color: #383838;
    color: #b7b7b7;
    font-size: 15px;
    padding: 0 0 0 20px;
    border: none;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      color: #4c4c4c;
      font-size: 15px;
      opacity:0.9;
      font-style:normal;
    }
    &::-moz-placeholder{
      color: #4c4c4c;
      font-size: 15px;
      line-height: 70px;
      opacity:0.9;
      font-style:normal;
    }
    &:-moz-placeholder {
      color: #4c4c4c;
      font-size: 15px;
      line-height: 70px;
      opacity:0.9;
      font-style:normal;
    }
    &:-ms-input-placeholder {
      color: #4c4c4c;
      font-size: 15px;
      opacity:0.9;
      font-style:normal;
    }
    :focus {
      outline: none;
      border: none;
    }
  }
  .anticon {
    font-size: 20px;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding: 0 20px 0 49px;
  }
  .ant-input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}