.ant-select-dropdown {
  background-color: #252525;
  border-radius: 6px;
  border: 1px solid #898989;
  .ant-select-dropdown-menu-item {
    color: #6f6f6f;
  }
  .ant-select-dropdown-menu-item-selected,
  .ant-select-dropdown-menu-item-active,
  .ant-select-dropdown-menu-item-selected:hover {
    background: none;
    color: #d8d8d8;
  }
}
.data-filter-table {
  .rangeFilter {
   .ant-col {
     padding: 0;
     margin: 0;
     overflow: visible;
     border: none;
     white-space: nowrap;
     &:first-child {
       padding: 0;
       margin: 0;
       border-bottom: none;
     }
     &:last-child {
       padding: 0;
       margin: 0;
       text-align: left;
     }
   }
  }   
}
.rangeFilter {
  label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 13px 0 0;
    font-size: 15px;
    color: #b7b7b7;
  }
  padding: 22px 0px 0 0px;
  .ant-select {
    width: 114px;
    color: #5b5b5b;
    height: 43px;
    font-size: 15px;
    border-radius: 6px;
    background: none;
    .ant-select-selection {
      border: 1px solid #a2a2a2;
      background: none;
      height: 43px;
    }
    .ant-select-selection__rendered {
      height: 43px;
    }
  }
  .ant-input {
    border-radius: 6px;
    border: 1px solid #a2a2a2;
    max-width: 114px;
    color: #5b5b5b;
    font-size: 15px;
    height: 43px;
    background: none;
  }
}
@media (max-width: 992px) {
  .data-filter-table {
    .rangeFilter {
     .ant-col {
       padding: 0 0 20px;
       &:first-child {
        padding: 0 0 20px;
      }
     }
    }
  }
  .rangeFilter {
    label {
      margin: 0 10px 0 0;
      width: 100px;
      text-align: right;
    }
   }
}