.data-filter-table {
  border-radius: 15px 15px 0 0;
  background-color: #252525;
  .ant-checkbox-wrapper {
    padding: 11px 26px 11px 0px;
    color: #6f6f6f;
  }
  .ant-radio-group {
    padding: 15px 15px 0 0;
  }
  .ant-radio-wrapper {
    cursor: pointer;
    color: #6f6f6f;
    margin: 0 0 8px;
    .ant-radio {
      float: right;
      .ant-radio-inner {
        background: transparent;
        border: none;
        &::after {
          width: 10px;
          height: 10px;
          background-color: #d33e18;
        }
      }
    }
    span.ant-radio + * {
      margin: -3px 0 0 0;
      padding: 0 28px 0 0;
      width: 100px;
      text-align: right;
      display: inline-block;
      vertical-align: top;
    }
  }
  .ant-radio-wrapper-checked {
    color: #fff;
  }
  .ant-checkbox-wrapper + span, .ant-checkbox + span {
    padding-left: 19px;
  }
  .btn-holder {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .btn-apply {
      min-width: 114px;
      min-height: 43px;
      border-radius: 4px;
      font-size: 15px;
      color: #f6c137;
      border: 2px solid #f6c137;
      background-color: #2d2d2d;
      &:hover {
        opacity: 0.7;
      }
  }
  .result-list {
    box-sizing: border-box;
    margin: 0 0 0 -32px;
    padding: 13px 0px 8px 24px;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #464646;
    li {
      margin: 0 0 12px;
      color: #6f6f6f;
      font-size: 16px;
      .num {
        display: inline-block;
        vertical-align: top;
        color: #f6c137;
        text-align: right;
        width: 52px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 10px 0 0;
      }
      .name {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .filter-name-list {
    margin: 0;
    padding: 13px 17px 0 0;
    list-style: none;
    li {
      font-size: 15px;
      padding: 0 30px 0 0;
      text-align: right;
      position: relative;
      margin: 0 0 10px;
      &:hover {
        a {
          color: #fff;
        }
      }
      &.active {
        a {
          color: #fff;
        }
      }
      &.active:before {
        content: '';
        position: absolute;
        top: 4px;
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #d33e18;

      }
    }
    a {
      color: #6f6f6f;
    }
  }
  .row-top {
    border-radius: 15px 15px 0 0;
    border: 1px solid #464646;
    align-items: center;
    align-items: stretch;
    .ant-col {
      overflow: hidden;
      box-sizing: border-box;
      padding: 8px 0 0 27px;
      border-left: 1px solid #464646;
      .title {
        text-transform: uppercase;
        color: #646464;
        font-size: 11px;
        line-height: 13px;
      }
      &:first-child {
        border-left: none;
        margin: 0 -32px 0 0;
      }
      &:last-child {
        text-align: center;
        margin: 0 0 0 -8px;
        padding: 0 0 0 45px;
      }  
    }
  }
  .row-bottom {
    border: 1px solid #464646;
    min-height: 90px;
    box-sizing: border-box;
    padding: 22px 0;
  }
}
@media (max-width: 992px) {
  .data-filter-table .filter-name-list li {
    text-align: left;
    padding: 0 25px;
    &:before {
      right: inherit;
      left: 5px;
    }
  }
  .data-filter-table .row-top .ant-col {
    padding: 10px 0;
  }
  .data-filter-table .row-top .ant-col:first-child  {
    border-bottom: 1px solid #464646;
  }
  .data-filter-table .row-top .ant-col:last-child,
  .data-filter-table .row-top .ant-col:first-child {
    margin: 0;
    padding: 0;
  }
  .data-filter-table .result-list {
    margin: 0;
  }
  .data-filter-table .btn-holder {
    padding: 20px 0;
    border-top: 1px solid #464646;
  }
}
