.items-table {
  width: 100%;
  border-radius: 6px;
  color: #6f6f6f;
  border: 1px solid #3c3c3c;
  background-color: #252525;
  th {
    height: 63px;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #3c3c3c;
    padding: 0 20px;
    &:first-child {
      width: 7%;
      text-align: center;
    }
  }
  td {
    font-size: 14px;
    border: 1px solid #3c3c3c;
    padding: 0 20px;
    height: 50px;
    &:first-child {
      width: 7%;
      padding: 0;
      text-align: center;
      label {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        line-height: 3.5em;
        span {
          vertical-align: middle;
        }
      }
    }
    &:last-child {
      width: 10%;
    }
  }
  tr:nth-child(even) td {
    background-color: #2c2c2c;
  }
}
.ant-checkbox {
  .ant-checkbox-inner {
    width: 22px;
    height: 22px;
    border: 1px solid #444444;
    background: transparent;
    &:after {
      left: 30%;
    }
     
  }
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border: 1px solid rgba(68, 68, 68, 0.5);
}

@media (max-width: 992px) {
  .items-table-holder {
    position: relative;
    overflow: hidden;
  }
  .items-table {
      overflow: hidden;
      overflow-x: scroll;
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
  }
}